<a href="/completed/{{pack._id}}" class="product-preview-shell">
    <div class="product-preview">
        <div class="product-preview-detail-container">
            <h1 class="p-name">{{pack.displayName}}</h1>
            <div>
                <span>{{getFirstSentence pack.description}}</span>
            </div>
            <div class="tent-bag-pack">
                <span>{{pack.build.tent.displayName}}</span>
                <span>{{pack.build.backpack.displayName}}</span>
                <span>{{pack.build.bag.displayName}}</span>
            </div>
            <div class="d-p">
                <span>{{getFormattedPriceNoSplit pack}}</span>
                <span>{{getDisplayWeight pack.totalWeight 'g' user.preferredUOM}}</span>
            </div>
        </div>
        <div class="padding-wall">
            <div class="product-preview-image-container">
            <img class="sub-image" src="{{pack.build.tent.productInfo.pictures.[0]}}">
            <img class="sub-image" src="{{pack.build.backpack.productInfo.pictures.[0]}}">
            <img class="sub-image" src="{{pack.build.bag.productInfo.pictures.[0]}}">
            </div>
        </div>
    </div>
</a>