<li class='pack-card'>
    <a href="/completed/{{pack._id}}">
        <div class="pack-grid-item-header-container">
           <span class="sublabel"></span> <span>{{pack.authorUserObj.username}}</span>
        </div>
        <div class="pack-image-container">
           <img class="pack-image" src="https://d1dfp97r2mlr1c.cloudfront.net/{{this._id}}-preview.png">
        </div>

        <div class="pack-info-container">
        
            <div class="author-box">  <h3 class="pack-title">{{pack.displayName}}</h3></div>
            <span>{{formatPriceInfo pack.priceRange}}</span>
            <span>{{formatDate pack.publishDate}}</span>
            <span>{{#if pack.upvotes}}{{#if (gt pack.upvotes 0)}} +{{pack.upvotes}} {{else}}
                {{pack.upvotes}}{{/if}}{{else}}0{{/if}}
               {{> icons/thumbsUp}}
            </span>
        </div>
    </a>
</li>