<ul class="pagination-controls">
    {{#each (range maxPages)}}
    {{#if (lt (abs (minus ../currentPage @index)) 3)}}
    <li>
        <a class="pagination-action" data-p="{{@index}}">{{plus @index 1}}</a>
    </li>
    {{else}}
    {{#if (eq @index (minus ../maxPages 1))}}
    {{#unless (eq ../currentPage (minus ../maxPages 4))}}
    <li>
        {{> icons/dot}}
    </li>
    {{/unless}}
    <li>
        <a class="pagination-action" data-p="{{@index}}">{{plus @index 1}}</a>
    </li>
    {{/if}}
    {{#if (eq @index 0)}}
    <li>
        <a class="pagination-action" data-p="{{@index}}">{{plus @index 1}}</a>
    </li>
    {{#unless (eq ../currentPage 3)}}
    <li>
        {{> icons/dot}}
    </li>
    {{/unless}}
    {{/if}}
    {{/if}}
    {{/each}}
</ul>
<script src="/js/pagination.js"></script>