<div class="product-preview">
    <div class="product-preview-image-container">
        <img src="{{product.productInfo.pictures.[0]}}">
    </div>
    <div class="product-preview-detail-container">
        <div>
            <span class="p-cat">{{product.brand}}</span>
            {{>fiveStars product=product}}
        </div>
        <div>
            <h2 class="p-name">{{product.displayName}}</h2>
            <div class="d-p">
                <span>{{getFormattedPriceNoSplit product}}</span>
                {{> icons/dot}}
                <span>{{getDisplayWeight product.productInfo.weight 'g' user.preferredUOM}}</span>
            </div>
        </div>
        <a class="action-button p-cta" href="/pack/{{product.categoryID}}/{{product._id}}">Check It Out</a>
    </div>
</div>