<div class="gear-stat">
    <div class="stat-header">
        <h2>{{displayName}}</h2>
    </div>
    <div class="stat-content">
        <div class="stat-value">
            <span>{{v}}{{#if suffix}}{{suffix}}{{/if}}</span></span>
        </div>
        <div class="stat-data">
            <span class="tooltip">
                #{{statistic.placement}} of {{statistic.total}} {{lower pt}}
            </span>
        </div>
        <div class="stat-data">
            <span>
                {{rText}} than {{flr (perc (div statistic.placement statistic.total)) 1}}% of {{lower pt}}
            </span>
        </div>
    </div>
</div>