<div>
    {{#if editable}}
    <div class="add-new-items-prompt">
        <button data-type="{{#if ownedGear}}owned{{else}}saved{{/if}}"
            class="data-button delete submit-remove-request hidden">remove all selected</button>
    </div>
    {{/if}}
    <table class='data-table gear-table'>
        <thead>
            <tr class='data-table-header'>
                <th class='display-name'>Category</th>
                <th>Selection</th>
                <th>Price</th>
                <th class="weight-cell">
                    <div class="weight-container" data-agear-id="*">
                        Weight
                        <select class="weight-uom-select" data-agear-id="*" id="bulk-uom-select">
                            <option value="lb" {{#if (eq user.preferredUOM 'lb' )}}selected{{/if}}>lb</option>
                            <option value="g" {{#if (eq user.preferredUOM 'g' )}}selected{{/if}}>g</option>
                            <option value="kg" {{#if (eq user.preferredUOM 'kg' )}}selected{{/if}}>kg</option>
                            <option value="oz" {{#if (eq user.preferredUOM 'oz' )}}selected{{/if}}>oz</option>
                        </select>
                    </div>
                </th>
                <th>Brand</th>
                <th class="cb-cell">
                    <div class="pack-tab-header">
                        Remove<input class="select-all" data-type="{{#if ownedGear}}owned{{else}}saved{{/if}}"
                            type="checkbox">
                    </div>
                </th>
            </tr>
        </thead>
        {{#each categories}}
        <tr class='data-table-data-row category-link-heading'>
            <td>
                <a href="/pack/{{this._id}}">{{this.displayName}}
                </a>
            </td>
            <td class="non-data">
                <a href="/pack/{{this._id}}" class="make-selection">
                    Choose {{this.displayName}}
                </a>
            </td>
            <td class="non-data"></td>
            <td class="non-data"></td>
            <td class="non-data"></td>
            <td class="non-data"></td>
        </tr>
        {{#each (lookup ../buildData this._id)}}
        <tr class='data-table-data-row'>
            <td class="non-data"></td>
            <td><a href="/pack/{{this.categoryID}}/{{this._id}}" {{#unless ../../editable}}class="link-disabled"
                    {{/unless}}>{{this.displayName}}</a></td>
            <td>{{getFormattedPriceNoSplit this}}</td>
            <td class="weight-cell">
                <div class="weight-container" data-agear-id="{{this._id}}{{@index}}">
                    <span class="weight-text" data-agear-id="{{this._id}}{{@index}}" id="weight-{{this._id}}{{@index}}"
                        data-base-weight="{{this.productInfo.weight}}">
                        {{UOM_ConvertTo this.productInfo.weight 'g' ../../user.preferredUOM}}
                    </span>
                    <select class="weight-uom-select" data-agear-id="{{this._id}}{{@index}}">
                        <option value="lb" {{#if (eq ../../user.preferredUOM 'lb' )}}selected{{/if}}>lb</option>
                        <option value="g" {{#if (eq ../../user.preferredUOM 'g' )}}selected{{/if}}>g</option>
                        <option value="kg" {{#if (eq ../../user.preferredUOM 'kg' )}}selected{{/if}}>kg</option>
                        <option value="oz" {{#if (eq ../../user.preferredUOM 'oz' )}}selected{{/if}}>oz</option>
                    </select>
                </div>
            </td>
            <td>{{this.brand}}</td>
            <td class="cb-cell"><input class="subcat-edit-input" type="checkbox" data-ref-id="{{this._id}}"
                    data-type="{{#if ../../ownedGear}}owned{{else}}saved{{/if}}"></td>
        </tr>
        {{/each}}
        {{/each}}
    </table>
</div>
{{#unless @root.scriptLoadedPackData}}
{{assign 'scriptLoadedPackData' true}}
<script defer src="/js/subCategoryTable.js"></script>
<script src="/js/helpers/weightUOM.js"></script>
{{/unless}}