<main>
    <div class="pack-complete-container {{#unless pack.published}} pack-no-image {{/unless}}">
        {{#if pack.published}}
        <div class="image-banner">
            <img src="https://d1dfp97r2mlr1c.cloudfront.net/{{pack._id}}-full.png">
        </div>
        {{/if}}
        <div>
            <div class="completed-single-header">
                <h1>{{pack.displayName}}</h1>
                <div class="completed-vote-container">
                    {{assign 'didUserUpvote' (and user (gt (lookup (lookup user 'communityPackLikes') pack._id) 0))}}
                    {{assign 'didUserDownvote' (and user (lt (lookup (lookup user 'communityPackLikes') pack._id) 0))}}
                    <button class="data-button pack-vote-button upvote" data-way="upvote" data-rel-id="{{pack._id}}"
                        {{#if user}}data-u="t" {{/if}}>
                        <div class="vote-filled {{#unless @root.didUserUpvote}}hidden{{/unless}}">
                            {{> icons/thumbsUpFull}}
                        </div>
                        <div class="vote-unfilled {{#if @root.didUserUpvote}}hidden{{/if}}">
                            {{> icons/thumbsUp}}
                        </div>

                    </button>
                    <span id="published-pack-upvotes">{{#if pack.upvotes}}{{#if (gt pack.upvotes 0)}} +{{pack.upvotes}}
                        {{else}} {{pack.upvotes}}{{/if}}{{else}}0{{/if}}</span>
                    <button class="data-button pack-vote-button downvote" data-way="downvote" data-rel-id="{{pack._id}}"
                        {{#if user}}data-u="t" {{/if}}>
                        <div class="vote-filled {{#unless @root.didUserDownvote}}hidden{{/unless}}">
                            {{> icons/thumbsDownFull}}
                        </div>
                        <div class="vote-unfilled {{#if @root.didUserDownvote}}hidden{{/if}}">
                            {{> icons/thumbsDown}}
                        </div>
                    </button>

                </div>

                {{#if pack.published}}
                <div class="published-report-container">
                    {{>report repType="pack" repID=pack._id }}
                </div>
                {{/if}}
            </div>
            {{#if pack.published}}
            <div class="completed-single-subheader">
                <span>Shared by </span><span class="emphasized-span">{{pack.authorUserObj.username}}</span>
            </div>
            {{/if}}
            <p>{{pack.description}}</p>
        </div>
    </div>
    {{> packQuickStats buildData=pack alone=true}}
    {{> packData pack=pack categoryList=categoryList editable=false}}
</main>
<script src="/js/completedSingle.js"></script>
{{#if pack}}
<script src="/js/quickStatsUOM.js"></script>
{{/if}}