<main class="product-detail-main">
    <div class="detail-header">
        <h1>{{product.displayName}}</h1>
        {{> fiveStars product=product doNotRenderN=true}}
        <div class="reviews-details-container">
            <span class="r-detail-data">
                {{product.productInfo.rating.n}}
            </span>
            <span class="r-detail-text"> reviews</span>
            <span class="r-detail-data">
                {{product.productInfo.rating.r}}
            </span>
            <span class="r-detail-text"> avg</span>
        </div>
    </div>
    <div class="detail-body">
        <div id="product-image-container" class="detail-col img-col">
            <div class="breadcrumb-container">
                <a href="/pack/{{category._id}}" class="breadcrumb">{{category.displayName}}</a>
                .
                <a href="" class="breadcrumb">{{product.displayName}}</a>
            </div>
            <div class="detail-image-container">
                <img src="{{reqDim product.productInfo.pictures.[0] 500}}">
            </div>
        </div>
        <div id="product-sources-container" class="detail-col sources-col">
            <h3 class="table-header">Pricing</h3>
            <table class="pricing-table nocollapse">
                <thead class="nocollapse">
                    <tr class="nocollapse">
                        <th class="nocollapse"></th>
                        <th class="nocollapse">Source</th>
                        <th class="nocollapse">Price</th>
                        <th class="nocollapse"></th>
                    </tr>
                </thead>
                <tbody class="nocollapse">
                    {{#each product.sources}}
                    <tr class="nocollapse">
                        <td class="nocollapse">
                            <div class="source-logo-holder">
                                <img src="{{this.meta.logoUrl}}" alt="{{this.displayName}} logo">
                            </div>
                        </td>
                        <td class="nocollapse">{{this.displayName}}</td>
                        <td class="nocollapse">${{this.price.minPrice}}</td>
                        <td class="buy-on-site-td nocollapse"><a class="action-button" target="_blank"
                                href="https://{{this.url}}">Buy On Site</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <span>Note: More sources coming soon.</span>
        </div>
        <div id="product-rel-stats-container" class="product-statistics-container">
            {{> productStatistic 
            rText="More expensive"
            p=product
            c=category
            histData=false
            displayName="Price"
            type="list"
            pKey="lowestPriceRange.minPrice"
            vsKey="fP"
            statistic=(lookup product.relStats 'fP')
            v=(getFormattedPriceNoSplit product)
            suffix=""
            prefix="$"
            }}
            {{> productStatistic 
            rText="Heavier"
            p=product
            c=category
            histData=(uomHistData (lookup category.vsStore.fW.hist product.productInfo.type) user.preferredUOM)
            displayName="Weight"
            type="list"
            vsKey="fW"
            pKey="productInfo.weight"
            statistic=(lookup product.relStats 'fW')
            v=(UOM_ConvertTo (lookup product 'productInfo.weight') 'g' user.preferredUOM)
            suffix=(tern user user.preferredUOM 'lb')
            prefix=""
            }}
            {{> productStatistic
            rText="Higher rated"
            p=product
            c=category
            histData=false
            displayName="Rating"
            vsKey="rat"
            pKey="productInfo.rating.r"
            type="list"
            statistic=(lookup product.relStats 'rat')
            v=product.productInfo.rating.r
            suffix=""
            prefix=""
            }}
            {{#each category.filters}}
            {{#if (idEq this.t 'list')}}
            {{> productStatistic
            vsKey=this.vsKey
            pKey=this.key
            p=../product
            histData=false
            rText=this.relText
            displayName=this.labelText
            type=this.t
            c=../category
            statistic=(lookup ../product.relStats this.vsKey)
            v=(lookup ../product this.key)
            suffix=this.suffix
            prefix=""
            }}
            {{/if}}
            {{/each}}
        </div>
        <div id="product-atp-container" class="atp-info-box">
            <h2>Pack It</h2>
            <div class="atp-pack-difs">
                <div class="dif-row">
                    <div class="dif-header">
                        Total Price
                    </div>
                    <div class="dif-content">
                        <span>${{flr (tern userPack userPack.priceRange.minPrice 0) 100}}</span>
                        <span>
                            {{> icons/arrowRight}}
                        </span>
                        <span>
                            ${{flr (plus (tern userPack userPack.priceRange.minPrice 0)
                            product.lowestPriceRange.minPrice) 100}}
                        </span>
                    </div>
                    {{#if (eq category.weightCat 'worn')}}
                    <div class="dif-header">
                        Worn Weight
                    </div>
                    <div class="dif-content">
                        <span>{{getDisplayWeight (tern userPack userPack.wornWeight 0) 'g'
                            user.preferredUOM}}</span>
                        <span>
                            {{> icons/arrowRight}}
                        </span>
                        <span>
                            {{getDisplayWeight (plus (tern userPack userPack.wornWeight 0)
                            product.productInfo.weight) 'g' user.preferredUOM}}
                        </span>
                    </div>
                    {{else}}
                    <div class="dif-header">
                        Base Weight
                    </div>
                    <div class="dif-content">
                        <span>{{getDisplayWeight (tern userPack userPack.baseWeight 0) 'g'
                            user.preferredUOM}}</span>
                        <span>
                            {{> icons/arrowRight}}
                        </span>
                        <span>
                            {{getDisplayWeight (plus (tern userPack userPack.baseWeight 0)
                            product.productInfo.weight) 'g' user.preferredUOM}}
                        </span>
                    </div>
                    {{/if}}
                    <div class="dif-header">
                        Total Weight
                    </div>
                    <div class="dif-content">
                        <span>{{getDisplayWeight (tern userPack userPack.totalWeight 0) 'g'
                            user.preferredUOM}}</span>
                        <span>
                            {{> icons/arrowRight}}
                        </span>
                        <span>
                            {{getDisplayWeight (plus (tern userPack userPack.totalWeight 0)
                            product.productInfo.weight) 'g' user.preferredUOM}}
                        </span>
                    </div>
                </div>
            </div>
            <button class="action-button-inv atp-button-main" data-id="{{product._id}}" id="atp-button">Add to
                Pack</button>
        </div>
        <div id="product-info-container">
            <div class="non-comp-specbox">
            {{#each category.filters}}
            {{#if (and (idEq this.t 'in') (lookup ../product this.key))}}
            <div>
                <div class="spec-header">
                    <span>
                        {{this.labelText}}
                    </span>
                </div>
                <div class="spec-data">
                    <span>
                        {{lookup ../product this.key}}
                    </span>
                </div>
            </div>
            {{/if}}
            {{/each}}
            </div>
        </div>
    </div>
</main>
<script src="/js/product.js"></script>