<main class="product-detail-main">
    <div class="detail-header">
        <h1>{{product.displayName}}</h1>
        {{> fiveStars product=product doNotRenderN=true}}
        <div class="reviews-details-container">
            <span class="r-detail-data">
                {{product.productInfo.rating.n}}
            </span>
            <span class="r-detail-text"> reviews</span>
            <span class="r-detail-data">
                {{product.productInfo.rating.r}}
            </span>
            <span class="r-detail-text"> avg</span>
        </div>
    </div>
    <div class="detail-body">
        <div id="product-image-container" class="detail-col img-col">
            <div class="breadcrumb-container">
                <a href="/pack/{{category._id}}" class="breadcrumb">{{category.displayName}}</a>
                .
                <a href="" class="breadcrumb">{{product.displayName}}</a>
            </div>
            <div class="detail-image-container">
                <img src="{{reqDim product.productInfo.pictures.[0] 500}}">
            </div>
        </div>
        <div id="product-sources-container" class="detail-col sources-col">
            <h3 class="table-header">Prices</h3>
            <table class="pricing-table nocollapse">
                <thead class="nocollapse">
                    <tr class="nocollapse">
                        <th class="nocollapse"></th>
                        <th class="nocollapse">Source</th>
                        <th class="nocollapse">Price</th>
                        <th class="nocollapse"></th>
                    </tr>
                </thead>
                <tbody class="nocollapse">
                    <tr class="nocollapse">
                        <td class="nocollapse">
                            <div class="source-logo-holder">
                                {{> icons/reiLogo }}
                            </div>
                        </td>
                        <td class="nocollapse">REI</td>
                        <td class="nocollapse">${{product.lowestPriceRange.minPrice}}</td>
                        <td class="buy-on-site-td nocollapse"><a class="action-button" target="_blank"
                                href="https://{{product.productInfo.unaffiliatedUrl}}">Buy On Site</a></td>
                    </tr>
                </tbody>
            </table>
            <span>Note: More sources coming soon.</span>
        </div>
        <div id="product-rel-stats-container" class="product-statistics-container">
            {{> productStatistic rText="More expensive" pt=product.productInfo.type c=category displayName="Price"
            type="list"
            statistic=(lookup product.relStats
            'fP') v=(getFormattedMinPrice product)}}
            {{> productStatistic rText="Heavier" pt=product.productInfo.type c=category displayName="Weight" type="list"
            statistic=(lookup product.relStats
            'fW') v=(getDisplayWeight (lookup product 'productInfo.weight') 'g' user.preferredUOM)}}
            {{> productStatistic rText="Higher rated" pt=product.productInfo.type c=category displayName="Rating"
            type="list"
            statistic=(lookup product.relStats
            'rat') v=product.productInfo.rating.r}}
            {{#each category.filters}}
            {{#if (idEq this.t 'list')}}
            {{> productStatistic
            pt=../product.productInfo.type rText=this.relText displayName=this.labelText
            type=this.t statistic=(lookup
            ../product.relStats this.vsKey) v=(lookup ../product this.key) suffix=this.suffix}}
            {{/if}}
            {{/each}}
        </div>
        <div id="product-atp-container" class="atp-info-box">
            <h2>Pack It</h2>
            <div class="atp-pack-difs">
                <div class="dif-row">
                    <div class="dif-header">
                        Total Price
                    </div>
                    <div class="dif-content">
                        <span>${{flr (tern userPack userPack.priceRange.minPrice 0) 100}}</span>
                        <span>
                            {{> icons/arrowRight}}
                        </span>
                        <span>
                            ${{flr (plus (tern userPack userPack.priceRange.minPrice 0)
                            product.lowestPriceRange.minPrice) 100}}
                        </span>
                    </div>
                    {{#if (eq category.weightCat 'worn')}}
                    <div class="dif-header">
                        Worn Weight
                    </div>
                    <div class="dif-content">
                        <span>{{getDisplayWeight (tern userPack userPack.wornWeight 0) 'g'
                            user.preferredUOM}}</span>
                        <span>
                            {{> icons/arrowRight}}
                        </span>
                        <span>
                            {{getDisplayWeight (plus (tern userPack userPack.wornWeight 0)
                            product.productInfo.weight) 'g' user.preferredUOM}}
                        </span>
                    </div>
                    {{else}}
                    <div class="dif-header">
                        Base Weight
                    </div>
                    <div class="dif-content">
                        <span>{{getDisplayWeight (tern userPack userPack.baseWeight 0) 'g'
                            user.preferredUOM}}</span>
                        <span>
                            {{> icons/arrowRight}}
                        </span>
                        <span>
                            {{getDisplayWeight (plus (tern userPack userPack.baseWeight 0)
                            product.productInfo.weight) 'g' user.preferredUOM}}
                        </span>
                    </div>
                    {{/if}}
                    <div class="dif-header">
                        Total Weight
                    </div>
                    <div class="dif-content">
                        <span>{{getDisplayWeight (tern userPack userPack.totalWeight 0) 'g'
                            user.preferredUOM}}</span>
                        <span>
                             {{> icons/arrowRight}}
                        </span>
                        <span>
                            {{getDisplayWeight (plus (tern userPack userPack.totalWeight 0)
                            product.productInfo.weight) 'g' user.preferredUOM}}
                        </span>
                    </div>
                </div>
            </div>
            <button class="action-button-inv atp-button-main" data-id="{{product._id}}" id="atp-button">Add to
                Pack</button>
        </div>
        <div id="product-info-container" class="non-comp-specbox">
            {{#each category.filters}}
            {{#if (idEq this.t 'in')}}
            <div>
                <div class="spec-header">
                    <span>
                        {{this.labelText}}
                    </span>
                </div>
                <div class="spec-data">
                    <span>
                        {{lookup ../product this.key}}
                    </span>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</main>
<script src="/js/product.js"></script>