<main class="product-detail-main">
    <div class="detail-header">
        <h1>{{product.displayName}}</h1>
        {{> fiveStars product=product doNotRenderN=true}}
        <div class="reviews-details-container">
            <span class="r-detail-data">
                {{product.productInfo.rating.n}}
            </span>
            <span class="r-detail-text"> reviews</span>
            <span class="r-detail-data">
                {{product.productInfo.rating.r}}
            </span>
            <span class="r-detail-text"> avg</span>
        </div>
    </div>
    <div class="detail-body">
        <div class="detail-col img-col">
            <div class="breadcrumb-container">
                <a href="/pack/{{category._id}}" class="breadcrumb">{{category.displayName}}</a>
                .
                <a href="" class="breadcrumb">{{product.displayName}}</a>
            </div>
            <div class="detail-image-container">
                <img src="{{reqDim product.productInfo.pictures.[0] 400}}">
            </div>
        </div>
        <div class="detail-col sources-col">
            <h3 class="table-header">Prices</h3>

            <table class="pricing-table nocollapse">
                <thead class="nocollapse">
                    <tr class="nocollapse">
                        <th class="nocollapse"></th>
                        <th class="nocollapse">Source</th>
                        <th class="nocollapse">Price</th>
                        <th class="nocollapse"></th>
                    </tr>
                </thead>
                <tbody class="nocollapse">
                    <tr class="nocollapse">
                        <td class="nocollapse">
                            <div class="source-logo-holder">
                                <svg viewBox="0.132 0.132 41.428029058261274 26.406" xmlns="http://www.w3.org/2000/svg">
                                    <g fill-rule="evenodd">
                                        <path
                                            d="M33.814 21.325h-3.255a1.217 1.217 0 0 0-1.323 1.244v1.244a1.217 1.217 0 0 0 1.244 1.217h3.254a1.217 1.217 0 0 0 1.217-1.217v-1.244a1.217 1.217 0 0 0-1.243-1.244zm.106 2.488a.106.106 0 0 1-.106.105h-3.255a.106.106 0 0 1-.158-.079v-1.27c0-.08.053-.106.132-.106h3.254c.053 0 .106 0 .106.106v1.244zm-5.557-1.323c-.053-.053-.105-.053-.132 0l-.37.608a.159.159 0 0 0 0 .159l.37.635h.106l.37-.635a.159.159 0 0 0 0-.159l-.37-.608m11.906-1.165h-4.55v5.213h1.11V25.03h3.44a1.217 1.217 0 0 0 1.19-1.217v-1.244a1.217 1.217 0 0 0-1.19-1.244zm.08 2.488a.106.106 0 0 1-.133.105h-3.44V22.49h3.44c.053 0 .106 0 .106.105v1.244zm-2.805-3.625h3.122a.794.794 0 0 0 .794-.741v-9.393h-3.916zm-21.96 2.381v1.244A1.217 1.217 0 0 0 16.8 25.03h4.048v-1.138h-4.048a.106.106 0 0 1-.08-.08V22.57c0-.08 0-.106.107-.106h4.048v-1.138H16.8a1.217 1.217 0 0 0-1.217 1.244m12.965-2.381h7.408V18.07h-4.34v-1.852h4.34v-2.17h-4.34v-1.852h4.34v-2.116h-8.202v9.313a.794.794 0 0 0 .794.794" />
                                        <path
                                            d="M15.584 13.23v6.958H19.5v-2.646h1.19l1.853 2.646h4.312l-2.222-3.281 1.534-1.535v-5.291h-3.89L19.5 11.456v-1.005c0-.212-.185-.397-.424-.397h-1.058l6.06-8.123 7.275 6.483 3.704-4.048 4.763 4.048h1.587l-6.35-5.61-4.233 3.52L24.58.874l-.794-.742-13.07 13.018-1.508-3.096h1.243l-3.836-7.25-3.757 7.25h1.19l-2.54 5.107h1.588L.132 21.299l14.076 3.704-2.778-6.27 4.154-5.557zm3.916.449l2.778-1.429v2.91H19.5z" />
                                        <path
                                            d="M26.061 21.325h-3.333a1.217 1.217 0 0 0-1.164 1.244v1.244a1.217 1.217 0 0 0 1.19 1.217h3.307a1.217 1.217 0 0 0 1.191-1.217v-1.244a1.217 1.217 0 0 0-1.217-1.244zm.08 2.488a.106.106 0 0 1-.106.105h-3.307a.106.106 0 0 1-.106-.079v-1.27c0-.08.08-.106.132-.106h3.307s.08 0 .08.106z" />
                                    </g>
                                </svg>
                            </div>
                        </td>
                        <td class="nocollapse">REI</td>
                        <td class="nocollapse">${{product.lowestPriceRange.minPrice}}</td>
                        <td class="buy-on-site-td nocollapse"><a class="action-button" target="_blank"
                                href="https://{{product.productInfo.unaffiliatedUrl}}">Buy On Site</a></td>
                    </tr>
                </tbody>
            </table>
            <span>Note: More sources coming soon.</span>
        </div>
        <div class="detail-col atp-column">
            <div class="atp-info-box">
                <h2>Pack It</h2>
                <div class="atp-pack-difs">
                    <div class="dif-row">
                        <div class="dif-header">
                            Total Price
                        </div>
                        <div class="dif-content">
                            <span>${{flr (tern userPack userPack.priceRange.minPrice 0) 100}}</span>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                </svg>
                            </span>
                            <span>
                                ${{flr (plus (tern userPack userPack.priceRange.minPrice 0)
                                product.lowestPriceRange.minPrice) 100}}
                            </span>
                        </div>
                        {{#if (eq category.weightCat 'worn')}}
                        <div class="dif-header">
                            Worn Weight
                        </div>
                        <div class="dif-content">
                            <span>{{getDisplayWeight (tern userPack userPack.wornWeight 0) 'g'
                                user.preferredUOM}}</span>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                </svg>
                            </span>
                            <span>
                                {{getDisplayWeight (plus (tern userPack userPack.wornWeight 0)
                                product.productInfo.weight) 'g' user.preferredUOM}}
                            </span>
                        </div>
                        {{else}}
                        <div class="dif-header">
                            Base Weight
                        </div>
                        <div class="dif-content">
                            <span>{{getDisplayWeight (tern userPack userPack.baseWeight 0) 'g'
                                user.preferredUOM}}</span>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                </svg>
                            </span>
                            <span>
                                {{getDisplayWeight (plus (tern userPack userPack.baseWeight 0)
                                product.productInfo.weight) 'g' user.preferredUOM}}
                            </span>
                        </div>
                        {{/if}}
                        <div class="dif-header">
                            Total Weight
                        </div>
                        <div class="dif-content">
                            <span>{{getDisplayWeight (tern userPack userPack.totalWeight 0) 'g'
                                user.preferredUOM}}</span>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                </svg>
                            </span>
                            <span>
                                {{getDisplayWeight (plus (tern userPack userPack.totalWeight 0)
                                product.productInfo.weight) 'g' user.preferredUOM}}
                            </span>
                        </div>
                    </div>
                </div>
                <button class="action-button-inv atp-button-main" data-id="{{product._id}}" id="atp-button">Add to
                    Pack</button>
            </div>
        </div>
    </div>

    <div class="product-statistics-container">
        <h2>The Specs</h2>
        {{> productStatistic c=category.displayName displayName="Weight" type="list" statistic=(lookup product.relStats
        'fW') v=(getDisplayWeight (lookup product 'productInfo.weight') 'g' user.preferredUOM)}}
        {{> productStatistic c=category.displayName displayName="Price" type="list" statistic=(lookup product.relStats
        'fP') v=(getFormattedMinPrice product)}}
        {{> productStatistic c=category.displayName displayName="Rating" type="list" statistic=(lookup product.relStats
        'rat') v=product.productInfo.rating.r}}
        {{#each category.filters}}
        {{#if (idEq this.t 'list')}}
        {{> productStatistic c=category.displayName displayName=this.labelText type=this.t statistic=(lookup
        ../product.relStats this.vsKey) v=(lookup ../product this.key) suffix=this.suffix}}
        {{/if}}
        {{/each}}
    </div>
    <label class="graphic-label">*Majority means percent of gear items on MyPackPacker in this category with a spec
        value LESS than this item.</label>
    <label class="graphic-label">*Percentile mean gear items on MyPackPacker in this category that SHARE the spec
        value.</label>
</main>
<script src="/js/product.js"></script>